
body{
    height: 200vh;
}

h1{
    font-size: 2em;
    text-align: center;

}

nav{
    
    font-weight: bolder;
    text-transform: uppercase;
    list-style:none ;
    background-color: aqua;
    text-decoration: none;
    width: 100%;
    position: sticky;
    top: 0;
    
}
nav ul li{
    display: inline;
    padding: 2em;
    
    
    
    
}